.html-body {
  margin: 0;
  padding: 0;
}

.html-body_background-grey {
  background-color: #1c1d1f;
}

.main {
  width: 93.6%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.gallery__main {
  height: auto;
}

.index__main {
  position: absolute;
  z-index: 2;
  margin-left: 3.2%;
}

.main-about {
  width: 100%;
  height: 100%;
}

.html-body_background-photo {
  background: url(../img/contact_bg.jpg) no-repeat center center fixed;
  background-size: cover;
}

.html-body_background-slide {
  background-color: rgba(0, 0, 0, .8);
}

.blackout {
  width: 100%;
  height: 100%;
  background: rgba(25, 26, 27, .85);
}

.contact__blackout {
  position: absolute;
}

.menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.main__menu {
  margin-top: 2.6%;
}

.menu__items {
  width: 30%;
  margin-right: 2%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.menu__item{
  display: inline-block;
}

.menu__link {
  font: .625em 'Montserrat', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
  opacity: 1;
  color: white;
  transition: opacity .3s ease-in-out;
}

.menu__link_active {
  opacity: .4;
  transform: scale(.95);
}

.menu__line {
  padding-bottom: 5%;
  border-bottom: 2px solid white;
}

.about-container {
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
}

.main__about-container {
  position: absolute;
  top: 0;
  left: 0;
}

.portrait {
  width: 50%;
  overflow: hidden;
}

.portrait img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.about {
  margin: 10% 0 0 7%;
  height: auto;
  width: 35%;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
}

.introduction {
  height: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
}

.introduction__text {
  margin-bottom: 3%;
  font: .9em 'Lato', sans-serif;
  line-height: 30px;
  font-weight: bold;
  color: #4c4c4c;
}

.skills {
  margin-top: 20%;
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  z-index: 3;
  overflow: hidden;
}

.skills__item {
  width: 95%;
  cursor: pointer;
}
.skills__name {
  margin: 5% 0 3% 0;
  font: .625em 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: .8;
  color: #4c4c4c;	
}

.skills__line {
  height: 1px;
  background-color: white;
  animation-name: flow;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.skills__item:hover .skills__line{
  opacity: .9;
}

.skills__item:hover .skills__line_75::before,
.skills__item:hover .skills__line_68::before,
.skills__item:hover .skills__line_94::before {
  visibility: visible;
}

.skills__line_75 {
	width: 75%;
}

.skills__line_75::before, 
.skills__line_68::before, 
.skills__line_94::before {
  position: absolute;
  bottom: 100%;
  left: 103%;
  display: block;
  font: .625em 'Montserrat', sans-serif;
  letter-spacing: 2px;
  visibility: hidden;
  color: #4c4c4c;
}

.skills__line_75::before {
  content: "75%";
}

.skills__line_68::before {
  content: "68%";
}

.skills__line_94::before {
  content: "94%";
}

.skills__line_68 {
  width: 68%;
}

.skills__line_94 {
  width: 94%;
}

.title {
  font: 3em 'Lato', sans-serif;
  letter-spacing: 25px;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(255, 255, 255, .85);
  color: white;
}

.index__title {
  align-self: center;
}

.title>div:nth-child(odd) {
  display: inline-block;
  color: white;
  opacity: 0;
  animation-name: letters-appeared;
  animation-delay: .3s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.title>div:nth-child(even) {
  display: inline-block;
  color: white;
  opacity: 0;
  animation-name: letters-appeared;
  animation-delay: .5s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.subtitle-container {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}

.main__subtitle-container {
  position: absolute;
  top: 25%;
  align-self: center;
}

.gallery__subtitle {
  margin: 5% 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}

.subtitle {
  font: .8em 'Montserrat', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(255, 255, 255, .2);
  color: white;
}

.subtitle-container__line{
  margin-top: 2%;
  width: 35px;
  height: 3px;
  background-color: #292b2d;
}

.subtitle_align-left {
  margin-bottom: 5px;
  align-self: flex-start;
}

.photo-container {
  width: 80%;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.main__photo-container {
  position: absolute;
  top: 35%;
  left: 10%;
  padding-bottom: 10%;
  z-index: 4;
}

.photo-container__img {
  max-width: 100%;
  height: auto;
}

.photo-container__item {
  position: relative;
  width: 32%;
  padding-top: 2%;
  z-index: 4;
}

.photo-container__search {
  position: absolute;
  top: 43%;
  left: 40%;
  width: 20%;
  height: 19%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 3px solid white;
  color: white;
  opacity: 0;
  transform: translateY(25px);
  transition: opacity, transform .5s ease-in-out;
}

.photo-container__item:hover .photo-container__search  {
  opacity: 1;
  transform: translateY(0);
}

.contact-form {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.contact__contact-form {
  position: absolute;
  z-index: 2;
  top: 38%;
}

.contact-form__input {
  opacity: .4;
  margin-bottom: 1.5%;
  padding: 1%;
  border-width: thin;
  border-color: white;
  border-radius: 2px;
  width: 50%;
  background-color: transparent;
  color: white;
  font-weight: bold;
}

.contact-form__input_padding-bottom {
  padding-bottom: 9%;
}

.contact-form__button {
  cursor: pointer;
  width: 150px;
  background-color: white;
  margin-top: 3%;
  padding: 10px 10px;
  border: none;
  border-radius: 2px;
  opacity: .8;
  font-weight: bold;
  background: linear-gradient(to bottom, #fff, #bbb);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

.socials {
  width: 6%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.main__socials {
  margin-bottom: 2.5%;
}

.gallery__socials {
  margin-left: 3.2%;
  position: fixed;
  bottom: 6%;
  z-index: 4;
}

.socials__item, 
.modal-container__close, 
.prev, 
.next, 
.burger-menu {
  text-decoration: none;
  color: white;
  opacity: 1;
  transform: scale(1);
  transition: all .3s ease-in-out;
}

.socials__item:hover, 
.menu__link:hover, 
.modal-container__close:hover, 
.prev:hover, 
.next:hover, 
.burger-menu:hover {
  opacity: .4;
  transform: scale(.95);
}

.socials__color_grey {
  color: #606060;
}

.slideshow-container {
  height: 100vh;
  overflow: hidden;
}

.index__slideshow-container {
  position: absolute;
  top: 0;
  left: 0;
}

.slideshow-container__image {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.slideshow-container__item {
  display: none;
  animation-name: fade;
  animation-duration: 1.5s;
}

.slideshow-container__image-year {
  font-weight: bold;
  opacity: 0;
  animation-name: appear;
  animation-delay: .3s;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.slideshow-container__line {
  opacity: 0;
  width: 25px;
  height: 2px;
  background-color: white;
  margin: 5% 0;
  animation-name: appear;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.slideshow-container__image-name {
  opacity: 0;
  animation-name: appear;
  animation-delay: .8s;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  font-weight: lighter;
}

.slideshow-container__caption {
  width: 20%;
  text-align: right;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  left: 74%;
  bottom: 5%;
  letter-spacing: 2px;
  text-transform: uppercase;
  font: .6em 'Lato', sans-serif;;
  line-height: 1.5;
  color: white;
}

.contact-form__input:hover {
  outline: none;
  opacity: 1;
  box-shadow: 0 0 12px rgba(255, 255, 255, .9);
}

.contact-form__button:hover {
  border: none;
  outline: none;
  opacity: 1;
}

.contact-form__button:focus, 
.contact-form__input:focus, 
.contact-form__input:visited {
  outline: none;
}

.contact-form__button:active {
  border: none;
  outline: none;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 1);
}

.modal-container {
  width: 100%;
  height: 100vh;
  display: none;
  background-color: rgba(0, 0, 0, .8);
  overflow: auto;
}

.gallery__modal-container {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
}

.modal-container__content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 600px;
  max-height: 600px;
}

.modal-container__item {
  width: 100%;
}

.modal-container__img {
  max-width: 100%;
  width: 100%;
  height: 105%;
  object-fit: cover;
}

.modal-container-main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
}

.modal-container__close {
  position: absolute;
  top: 3%;
  left: 93%;
  cursor: pointer;
}

.prev, 
.next {
  cursor: pointer;
  opacity: 1;
}

.gallery__prev, 
.gallery__next {
  position: absolute;
  top: 50%;
}

.gallery__prev {
  left: 5%;
}

.gallery__next {
  right: 5%;
}

.index__prev, 
.index__next {
  opacity: 0;
  position: absolute;
  z-index: 3;
  animation-name: appear;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.index__prev {
  top: 80%;
  left: 90%;
}

.index__next {
  top: 80%;
  left: 93%;
}

.index__prev:hover, 
.index__next:hover, 
.gallery__prev:hover, 
.gallery__next:hover {
  opacity: .2;
}

.message {
  display: none;
  width: 30%;
  height: 30%;
  background-color: rgba(255, 255, 255, 1);
  opacity: .8;
  border-radius: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
  animation-name: fade;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.message-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.message__content {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: center;
}

.message__icon {
  padding-top: 12%;
}

.message__icon_color-white {
  color: black;
}

.message__title {
  padding-top: 5%;
}

.message__title, 
.message__text {
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  letter-spacing: 2px;
  font: .9em 'Montserrat', sans-serif;
}

 .burger-menu {
  display: none;
  z-index: 3;
  cursor: pointer;
  position: absolute;
  top: 6%;
  left: 90%;
}

.burger-menu__item {
  color: white;
  width: 35px;
  height: 3.5px;
  background-color: white;
  margin: 6px 0;
}
.bar1, 
.bar4 {
	opacity: 1;
	transition: opacity .25s ease-in-out;
}

.bar2, 
.bar3 {
  transform: rotate(0deg) translate(0, 0);
  transition: transform .25s ease-in-out;
}

.close .bar1 {
  opacity: 0;
}

.close .bar4 {
  opacity: 0;
}

.close .bar2 {
  transform: rotate(45deg) translate(0px, 6px);
}

.close .bar3 {
  transform: rotate(-45deg) translate(0px, -6px);
}

.modal-menu {
  display: none;
}

.close  {
  display: block;
  z-index: 3;	
}

.dark-theme .main {
  display: none;
}

.dark-theme .slideshow-container {
  display: none;
}

.dark-theme .burger-menu {
  display: block;
  z-index: 4;
}

.dark-theme .photo-container {
  display: none;
}

.dark-theme .about-container {
  display: none;
}

.dark-theme .contact-form {
  display: none;
}

.modal-menu-main {
  position: absolute;
  top: 0%;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100vh;
  background: url(../img/revslide01.jpg) no-repeat center top / cover;
  overflow: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.modal-menu__item {
  z-index: 3;
  cursor: pointer;
  padding: 15px 0;
  text-align: center;
  width: 100%;
  opacity: 1;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font: 1em 'Montserrat', sans-serif;;
  letter-spacing: 2px;
}

.modal-menu__item:hover {
  background-color: rgba(0, 0, 0, 1);
}

@keyframes flow {
	from {
		transform: translate(-100%, 0);
		background-color: transparent;
	}
	to {
		transform: translate(0, 0);
		background-color: white;
	}
}

@keyframes appear {
  from {
		opacity: 0;
		transform: translateX(200px);
	}
  to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fade {
  from {opacity: .4;}
  to {opacity: 1;}
}

@keyframes letters-appeared {
  0% {opacity: 0; color: white;}
  100% {opacity: 1; color: white;}
}

@media only screen and (min-width: 1700px) and (orientation: landscape) {
	
	.logo {
	  width: 200px;
	}

	.logo__img {
	  width: 100%;
	}

	.title {
	  font-size: 4em;
	}

	.menu__link {
	  font-size: .9em;
	}

	.size_2x {
	  font-size: 1.5em;
	}

	.socials {
	  width: 10%;
	}

	.slideshow-container__caption {
	  font-size: .8em;
	}

	.subtitle,
	.skills__name {
	  font-size: 1.1em;
	}

	.modal-container__content {
	  max-width: 1000px;
	}
	.contact-form__input {
	  font-size: 1em;
	}

	.contact-form__button {
	  font-size: 1em;
	  padding: .9%;
	  width: 12%;
	}

	.about {
	  margin-top: 12%;
	}

	.introduction {
	  margin: 0;
	  padding: 0;
	}

	.introduction__text {
	  margin-top: 3%;
	  font-size: 1.2em;
	}

	.introduction__signature {
	  margin-top: 4%;
	  width: 100%;
	  text-align: center;
	}

	.introduction__img {
	  width: 50%;
	}

	.skills {
	  padding: 0;
	  margin-top: 5%;
	}

	.message {
	  font-size: 1.2em;
	}
}

@media only screen and (max-width: 1445px) and (orientation: landscape) {
	
	.title {
	  font-size: 2em;
	}

	.index__prev {
	  left: 89%;
	}

	.index__next {
	  left: 93%;
	}

	.socials {
	  width: 8%;
	}

	.photo-container {
	  width: 90%;
	}

	.main__photo-container {
	  left: 5%;
	}

	.about {
	  padding-top: 5%;
	}

	.contact-form__input {
	  width: 65%;
	}

	.message {
	  width: 40%;
	}

	.socials {
	  width: 13%;
	}
}

@media only screen and (max-width: 1045px) and (orientation: landscape) {
	
	.menu__items {
	  display: none;
	}

	.burger-menu {
	  display: block;
	}

	.about {
	  margin-top: 15%;
	  padding-top: 0;
	}
}

@media only screen and (max-width: 1045px) and (orientation: portrait) {
	
	.menu__items {
	  display: none;
	}

	.menu__logo {
	  margin-top: 7%;
	}

	.burger-menu {
	  display: block;
	}

	.title {
	  letter-spacing: 13px;
	}

	.index__prev {
	  left: 85%;
	}

	.photo-container {
      padding-bottom: 15%;
	}

	.photo-container__item {
	  width: 48%;
	}

	.contact-form__input {
	  padding: 1.5%;
	  width: 85%;
	}

	.contact-form__input_padding-bottom {
	  padding-bottom: 18%;
	}

	.contact-form__button {
	  padding: 2%;
	}

	.socials {
	  width: 15%;
	}

	.main__socials {
	  margin-bottom: 8%;
	}

	.about__socials {
	  position: fixed;
	  bottom:  3%;
	}

	.portrait {
	  width: 50%;
	}

	.about {
	  margin: 25% 0 15% 2.5%;
	  width: 45%;
	}

	.subtitle_align-left {
	  align-self: center;
	  padding-bottom: 2%;
	}

	.skills {
	  margin-top: 40%;
	}

	.message {
	  width: 40%;
	  height: 20%;
	}
}

@media only screen and (max-width: 885px) and (orientation: landscape) {

	.title {
	  font-size: 1.5em;
	}

	.socials {
	  width: 20%;
	}
	
	.index__prev {
	  left: 85%;
	}

	.photo-container {
	  width: 95%;
	}

	.main__photo-container {
	  left: 2.5%;
	}

	.photo-container__item {
	  width: 48%;
	}

	.about-container {
	  width: 100%;
	  display: flex;
	  flex-flow: column wrap;
	  height: auto;
	}

	.portrait {
	  width: 100%;
	  height: auto;
	}

	.portrait img {
	  height: auto;
	  width: 100%;
	  max-width: 100%;
	}

	.about {
	  margin: 5% 0 0 5%;
	  width: 90%;
	  height: auto;
	  display: flex;
	  flex-flow: column wrap;
	}

	.subtitle_align-left {
	  align-self: center;
	}

	.skills {
	  margin-top: 10%;
	}

	.message {
	  width: 50%;
	}
}

@media only screen and (max-width: 885px) and (orientation: portrait) {
	
	.title {
	  font-size: 1.5em;
	}

	.about-container {
	  width: 100%;
	  display: flex;
	  flex-flow: column wrap;
	  height: auto;
	}

	.portrait {
	  width: 100%;
	  height: 100vh;
	}

	.about {
	  margin: 10% 0 20% 5%;
	  width: 90%;
	}

	.skills {
	  margin-top: 10%;
	}

	.socials {
	  width: 17%;
	}

	.message {
	  width: 50%;
	  height: 25%;
	}
}

@media only screen and (max-width: 805px) and (orientation: landscape) {
	
	.title {
	  font-size: 1.5em;
	  letter-spacing: 20px;
	}

	.index__title {
	  position: absolute;
	  top: 50%;
	}

	.index__prev {
	  left: 85%;
	}

	.index__next {
	  left: 93%;
	}

	.socials {
	  width: 15%;
	}

	.slideshow-container__caption {
	  display: none;
	}

	.photo-container {
	  width: 98%;
	}

	.modal-container__content {
	  max-width: 450px;
	  max-height: 450px;
	}

	.main__photo-container {
	  left: 1%;
	}

	.about {
	  margin-bottom: 15%;
	}

	.about__socials {
	  position: fixed;
	  bottom: 5%;
	}

	.contact-form__input {
	  width: 90%;
	}

	.contact-form__button {
	  margin-top: 1%;
	}

	.message {
	  margin-top: 10%;
	  width: 50%;
	  height: 50%;
	}

	.socials {
	  width: 21%;
	}
}

@media only screen and (max-width: 723px) and (orientation: landscape){
	
	.title {
	  letter-spacing: 17px;
	}

	.index__prev {
	  left: 85%;
	}

	.index__next {
	  left: 93%;
	}

	.message {
	  width: 60%;
	}

	.contact-form__button {
	  margin-top: .8%;
	}

	.socials {
	  width: 20%;
	}
}

@media only screen and (max-width: 723px) and (orientation: portrait) {
	
	.title {
	  letter-spacing: 11px;
	}
}

@media only screen and (max-width: 624px) and (orientation: landscape) {
	
	.title {
	  letter-spacing: 15px;
	}
}

@media only screen and (max-width: 624px) and (orientation: portrait) {
	
	.title {
	  font-size: 1.2em;
	  letter-spacing: 9px;
	}
}

@media only screen and (max-width: 580px) and (orientation: landscape) {
	.title {
	  letter-spacing: 12px;
	}
	
	.index__prev {
	  left: 84%;
	}

	.index__next {
	  left: 93%;
	}

	.photo-container {
	  width: 98%;
	}

	.main__photo-container {
	  left: 1%;
	}

	.photo-container__item {
	  width: 100%;
	}

	.photo-container__img {
	  height: 100vh;
	}

	.contact-form__input {
	  width: 80%;
	}
	
	.contact-form__button {
	  margin-top: 5%;
	}

	.message {
	  width: 70%;
	}

	.socials {
	  width: 20%;
	}
}

@media only screen and (max-width: 580px) and (orientation: portrait) {
	
	.title {
	  font-size: 1.1em;
	  letter-spacing: 8px;
	}
}

@media only screen and (max-width: 512px) and (orientation: landscape) {
	.title {
	  letter-spacing: 8px;
	}
	
	.index__prev {
	  left: 83%;
	}

	.index__next {
	  left: 93%;
	}

	.contact-form__button {
	  margin-top: 2%;
	}
}

@media only screen and (max-width: 512px) and (orientation: portrait) {
	
	.burger-menu {
	  left: 83%;
	}

	.title {
	  font-size: .9em;
	  letter-spacing: 6px;
	}

	.slideshow-container__caption {
	  display: none;
	}

	.index__prev {
	  left: 80%;
	}
	
	.photo-container {
	  width: 100%;
	  padding-bottom: 20%;
	}

	.main__photo-container {
	  left: 0;
	}

	.photo-container__item {
	  width: 100%;
	}

	.skills {
	  margin-bottom: 12%;
	}

	.socials {
	  width: 22%;
	}

	.message {
	  width: 80%;
	  height: 30%;
	}
}

@media only screen and (max-width: 422px) and (orientation: landscape) {
	
	.title {
	  font-size: 1em;
	  letter-spacing: 8px;
	}

	.index__prev {
	  left: 81%;
	}

	.index__next {
	  left: 93%;
	}

	.message {
	  width: 90%;
	}

	.contact-form__button {
	  width: 180px;
	}
}

@media only screen and (max-width: 422px) and (orientation: portrait) {
	
	.title {
	  font-size: 1em;
	  letter-spacing: 8px;
	}

	.modal-container__content {
	  max-width: 300px;
	  max-height: 300px;
	}

	.gallery__prev {
	  top: 47%;
	  left: 1%;
	}

	.gallery__next {
	  top: 47%;
	  right: 1%;
	}

	.message {
	  width: 90%;
	}

	.socials {
	  width: 35%;
	}

	.contact-form__input {
	  padding: 3%;
	  margin-bottom: 7%;
	}

	.contact-form__input_padding-bottom {
	  padding-bottom: 25%;
	}
}

@media only screen and (max-width: 900px) and (max-height: 450px) and (orientation: landscape) {
	
	.slideshow-container {
	  width: 100%;
	}

	.slideshow-container__caption {
	  display: none;
	}

	.modal-container__content {
	  max-width: 360px;
	  max-height: 360px;
	}
	
	.about {
	  margin-bottom: 13%;
	}

	.about__socials {
	  position: fixed;
	  bottom: 5%;
	}

	.contact-form__input {
	  margin-bottom: .5%;
	}

	.contact-form__button {
	  margin-top: .5%;
	}

	.message {
	  margin-top: 10%;
	  height: 50%;
	}

	.about-container {
	  width: 100%;
	  display: flex;
	  flex-flow: column wrap;
	  height: auto;
	}

	.portrait {
	  width: 100%;
	  height: auto;
	}

	.portrait img {
	  height: auto;
	  width: 100%;
	  max-width: 100%;
	}

	.about {
	  margin: 5% 0 15% 5%;
	  width: 90%;
	  height: auto;
	  display: flex;
	  flex-flow: column wrap;
	}

	.subtitle_align-left {
	  align-self: center;
	}

	.skills {
	  margin-top: 10%;
	}
}

@media only screen and (max-width: 342px) and (orientation: landscape) {
	
	.title {
	  font-size: 1em;
	  letter-spacing: 6px;
	}
	
	.index__prev {
	  left: 79%;
	}

	.index__next {
	  left: 93%;
	}

	.contact-form__input {
	  width: 80%;
	}

	.message {
	  width: 96%;
	}
}

@media only screen and (max-height: 350px) and (orientation: landscape) {
	
	.contact-form__button {
	  margin-top: 0;
	  padding: 1%;
	}

	.message {
	  margin-top: 15%;
	}

	.message__icon {
	  padding-top: 5%;
	}

	.modal-container__content {
	  max-width: 310px;
	  max-height: 310px;
	}
}

@media only screen and (max-width: 342px) and (orientation: portrait) {
	
	.title {
	  font-size: .9em;
	  letter-spacing: 7px;
	}

	.index__prev {
	  left: 75%;
	}

	.message__title, 
	.message__text {
	  font-size: .7em;
	}

	.modal-container__content {
	  max-width: 270px;
	  max-height: 270px;
	}

	.socials {
	  width: 35%;
	}
}

@media only screen and (max-width: 296px) and (orientation: landscape) {
	
	.title {
	  font-size: .625em;
	  letter-spacing: 4px;
	}
}

	